/*
Coolors Exported Palette
coolors.co/47e5bc-c1bddb-a2c7e5-6369d1-303a2b

$color1: hsla(164%, 75%, 59%, 1);
$color2: hsla(248%, 29%, 80%, 1);
$color3: hsla(207%, 56%, 77%, 1);
$color4: hsla(237%, 54%, 60%, 1);
$color5: hsla(100%, 15%, 20%, 1);

$color1: rgba(71, 229, 188, 1); turquoise
$color2: rgba(193, 189, 219, 1); lavender gray
$color3: rgba(162, 199, 229, 1); pale cerulean
$color4: rgba(99, 105, 209, 1); slate blue
$color5: rgba(48, 58, 43, 1); black leather jacket

--

Coolors Exported Palette
https://coolors.co/006aa7-fecc00-e8ebe4-d6d9ce-363732

$color1: hsla(202%, 100%, 33%, 1);
$color2: hsla(48%, 100%, 50%, 1);
$color3: hsla(86%, 15%, 91%, 1);
$color4: hsla(76%, 13%, 83%, 1);
$color5: hsla(72%, 5%, 21%, 1);

$color1: rgba(0, 106, 167, 1); sapphire blue
$color2: rgba(254, 204, 0, 1); usc gold
$color3: rgba(232, 235, 228, 1); platinum (very light grey)
rgba(244, 247, 240, 1); (very very light grey)
$color4: #91918F; spanish gray (light grey)
$color5: rgba(54, 55, 50, 1); jet (dark gray)

*/

#form
{
	background-color: rgba(232, 235, 228, 1);
	border-right: 25px solid rgba(244, 247, 240, 1);
	padding: 10px;
}

#nav
{
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}

#nav li
{
	display: inline-block;
	width: 8em;
	margin-right: 10px;
}

#nav a
{
	display: block;
	padding: 7px 14px;
	color: #ffffff;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.2);
}

#nav .active
{
	background-color: rgba(232, 235, 228, 1);
	color: #000;
}

/* Swedish flag colors */
/*
#form,
#nav .active
{
	background-color: rgba(254, 204, 0, 1);
}
*/

body
{
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: rgba(54, 55, 50, 1);
}

a:link, a:visited, a:active
{
	color: rgba(0, 106, 167, 1);
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

header
{
	padding: 10px 10px 0 10px;
	color: #ffffff;
}

header
{
/*	border-right: 20px solid rgba(254, 204, 0, 1);*/
/*
	background-image: url("media/scandinavia.png");
	background-position: top right;
	background-repeat: repeat-y;
	background-color: rgba(0, 106, 167, 1);
*/
	background: rgba(0, 106, 167, 1) url("scandinavia.png") repeat-y right top;
}

header h1 
{
	margin-bottom: 15px;
	float: left;
}

#tagline
{
	margin-left: 0.8em;
	position: relative;
	top: 1.1em;
	color: rgba(214, 217, 206, 1);
}



h1, h2, h3, h4, h5, h6 {
	font-family: Lato;
	margin: 0.3em 0 0.5em 0;
}

h1 {
	margin: 0;
}

#content
{
	padding: 10px;
}


#namesearch, #comparison, #aggrtype
{
	display: table-cell;
	padding: 5px;
}

.show
{
	display: block !important;
}

#form .show
{
	display: table-cell !important;
}

.hide
{
	display: none !important;
}

#containerresults
{
	float: right;
	width: 50%;
}

#itemlist li
{
	cursor: pointer;
	color: rgba(0, 106, 167, 1);
}

#itemlist li:hover
{
	text-decoration: underline;
}

.bar
{
	display: block;
	background-color: #d00;
	height: 1em;
	margin: 2px;
}

#container
{
	 height:400px;
	 	border: 1px solid blue;
}

#mymap
{
	min-height: 300px;
		border: 1px solid lime;
}

#ladda
{
	margin-top: 5px;
	height: 35px;
	width: 35px;
}
#ladda img
{
	height: 35px;
	width: 35px;
}
#heading
{
	font-style: italic;
}
#comparison
{
	clear: both;
}
#form
{
	position: relative;
}
#results
{
	clear: both;
	position: relative;
}
#mappage #heading
{
	position: absolute;
	top: 10px;
	left: 55px;
	z-index: 999;
	margin: 0;
}
#mappage #total
{
	position: absolute;
	top: 45px;
	left: 55px;
	z-index: 999;
	margin: 0;
}
