.bar
{
	display: block;
	background-color: #d00;
	height: 1em;
	margin: 2px;
}
#container
{
	 width:100%;
	 height:400px;
}
#ladda
{
	height: 35px;
	width: 35px;
		position: absolute;
		top: 0px;
		left: 15em;
		z-index: 99;
}
#ladda img
{
	height: 35px;
	width: 35px;
}
#search
{

}
#comparison
{
	clear: both;
}
#form
{
	position: relative;
}
#results
{
	clear: both;
}
